<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls_app/style.css' %}">
</head>
<body>

<h3> {{ poll }} </h3>

<form id="pollForm" action="{% url 'polls_app:poll_submit' poll.id %}" method="post">
{% csrf_token %}

{% if not validation_passed %}
    <span style="color:red; font-weight:bold;" > You must choose at least an answer for every question! </span>
    <br>
{% endif %}




{% for question in sorted_questions %}
    {{ question }}<br>
    <br>
    {% for answer in answers %}
        {% if answer.question_id == question.id %}
            <input type="checkbox" name="answer" value="{{ answer.id }}">
            {{ answer }}
        {% endif %}
    {% endfor %}
    <br>
    <br>
{% endfor %}


{% if current_page == total_pages %}
    <input type="submit" value="Get result">
{% endif %}


<div class="pagination">
    <span>
        {% if current_page > 1 %}
            <a href="?page={{ questions.previous_page_number }}"> << </a>
        {% endif %}

        <span>
            Page {{ current_page }} of {{ total_pages }}
        </span>

        {% if current_page < total_pages %}
            <a href="#" onclick="document.getElementById('pollForm').submit();"> >> </a>
        {% endif %}
    </span>
</div>


</form>



</body>
</html>