
td, th {
    padding: 7px 10px;
}


table {
    text-align: left;
    margin: 5px 10px;
}

h3 {
    text-align: left;
    margin: 20px 20px 30px;
}

.pagination {
    margin: 20px;
}

form {
    margin: 20px

}

input[type='checkbox'] {
    margin-bottom: 25px;
}